<body>
<section class="privacyPolicy">
<div class="container">
      <div class="row">
        <div col="col-md-12 col-sm-12 col-12" style="margin-top:50px;">
          <div class="termsBox">
            <h1 class="heading">Privacy Policy</h1>
            <div class="content scrollerDiv" id="termsScroller">

            <span>Respecting your privacy is and will always be our priority.</span>

            <span>As with beginning of Vision Cloud, we apprize our self to regulate our entire functioning under strong privacy principles for our users.</span>

            <span>All information that we gather are under strict guidelines and are specific to Vision Cloud's processes only from its user.</span>

            <span>Vision Cloud brings corporate procedures, functioning, tasks, communication and reports on single platform for users and administrators through internet and other network.</span>
            
            <span>Mentioned privacy points applies to all our apps, services and web features of Vision Cloud.</span>

            <span><strong>INFORMATION WE GATHER</strong></span>

            <span>Vision Cloud receives information at the time of installation and/ or access of our services in general.</span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Information to create your Vision Cloud account, email id and phone number to create a Vision Cloud account.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Personal information, education and professional qualification information, address, your bank details, including your photograph and approved document.
            </span>
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Mails, individual mail ID will be configured to your Vision Cloud account to assist you in communication.
             </span>
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  This holds all the information of the mail. It is not shared in any way or method to help you keep your privacy
             </span>

            <span><strong>Automatically Collected Information</strong></span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Customer Support. Support will be on use and experience that you get while using Vision Clouds and you will be touched only on contact informations that you have provided while installation and during use of Vision Cloud.
            </span>
            
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Automatically Collected Information will be of your uses, diagnostic, performance and crash logs of modules, on which a user works on in their Vision Cloud account. How you interact with Vision Cloud services and your interaction with others inside and/ or outside your Vision Cloud network.
            </span>

            <span> 
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Device and Connection Information: We collect device-specific information when you install, access, or use our services. This includes information such as hardware model, operating system information, browser information, IP address, mobile network information including phone number, and device identifiers. We collect device location information if you use our location features, such as when you mark your attendance.
            </span>
            
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Vision Cloud modules uses cookies to operate and provide services that it is mended to do, improve your experiences, understand how its services being used. Additionally, we may use cookies to remember your choices, such as your language preferences and otherwise to customize our services for you.
             </span>

            <span><strong>Automatically Collected Information</strong></span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Third-Party Providers. We work with third-party providers to help us operate, provide, improve, understand, customize, support, and market our services. In general it includes services as places information, process payments and which help us understand how people use our services. Such as app stores may provide us reports to help us diagnose and fix service issues.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Third-Party Services. We allow you to use our services in connection with third-party services. This will information us about what how, what and when use of particular third party service. Please note that when you use third-party services, their own terms and privacy policies will govern your use of those services.
            </span>

            <span><strong>HOW WE USE INFORMATION</strong></span>

            <span>Vision Cloud uses all gathered information to streamline maintain its offered services and to improve its operations, understand, customize, support, and market its services.</span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Our services. Vision Cloud user's information specifically used to provide support and troubleshoot issue which user might face in general or during some specific requirements. Same information and user experience log are used in improving, fixing, and customizing our services further. Research, development, and developing and testing new features have their base from user experience and information of same. Contact information submitted in your profile is used to respond when you contact us.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Account Information. Your mail id, contact number, profile name and profile photo will be available to your corporate group, in your hierarchy and in your corporate reporting circle. If you make your information public, anyone who uses our services will be able to view same.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Contacts and Mails. Other Vision Cloud users with whom you communicate may store and/ or re:share your information (above mentioned and including your messages) with others on and off our services.
            </span>
            
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Third-Party Providers. We work with third-party service providers to help us operate, understand, improve, customize, support, and market our services. Information sharing with third-party providers, is in accordance with our instructions and terms and/ or with express permission from you.
            </span>
            
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Third-Party Services. Third party services that are integrated with our services may directly receive your information which you share with them during their use. Please note that when you use third-party services, their own terms and privacy policies will govern your use of those services.
            </span>
            
            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Safety and Security. User information is analyzed and processed specifically for investigating suspicious activities, spoof and false detailing or which violates our Terms & Conditions. This is to ensure safety and security of our user's data and information and also to ensure that our services are being used legally.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  No Third-Party Banner Ads. We do not allow third-party banner ads on Vision Cloud. We have no intention to introduce them, but if we ever do, we will update this policy with properly information to all our users.
            </span>

            <span><strong>ASSIGNMENT, CHANGE OF CONTROL, AND TRANSFER</strong></span>

            <span>All of our rights and obligations mentioned under our Terms and Privacy Policy are freely assignable by us to any of our affiliates, in connection with a merger, acquisition, restructuring, or sale of assets, or by operation of law or otherwise, and we may transfer your information to any of our affiliates, successor entities, or new owner.
            </span>

            <span><strong>MANAGING YOUR INFORMATION</strong></span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Setting tools under your Vision Cloud profile allows you to manage, change or limit your certain information and linked services which is available to other users or which act as base of communication with other users.
            </span>

            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Services Settings will also be governed by account admin under criteria and privilege provided to types of users. In such scenarios you may require admin to alter your settings and privileges for use.
            </span>


            <span>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="8px" height="8px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <circle fill="#888" cx="8" cy="8" r="7.933"/>
                  </svg>
                  Changing/ updating your information can be done solely by you or by alteration request to admin with required reason and documentation.
            </span>

            <span><strong>LEGAL PROTECTION</strong></span>

            <span>Under this we may collect, use, preserve, and share your information if we have a good-faith belief that it is reasonably necessary for</span>

            <span>(a) responding to a pursuant to applicable law or regulations, to a legal process, or to government requests,</span>

            <span>(b) enforce our terms and any other applicable terms and policies, including for investigations of potential violations,</span>

            <span>(c) detect, investigate, prevent, and address fraud and other illegal activity, security, or technical issues or</span>

            <span>(d) protect the rights, property, and safety of our users.</span>

            <span><strong>OUR GLOBAL OPERATIONS</strong></span>

            <span>You agree to our information practices, including the collection, use, processing, and sharing of your information as described in this Privacy Policy, as well as the transfer and processing of your information to the India and other countries globally where we have or use facilities, service providers, or partners, regardless of where you use our services. You acknowledge that the laws, regulations, and standards of the country in which your information is stored or processed may be different from those of your own country.</span>

          

            <span><strong>UPDATES TO OUR POLICY</strong></span>

            <span>We may amend or update our Terms and Privacy Policies. We will notify you about amendments to particular Terms and Privacy Policies, as appropriate with updating last modified date at the top of this Privacy Policy. Your continued use of our services confirms your acceptance of our Terms and Privacy Policies, as amended. If you do not agree to our Terms and Privacy Policies, as amended, you must stop using our services. Please review our Terms and Privacy Policy from time to time.</span>
            </div>
            </div>
          </div>
        </div>
      </div>
    	</div>
	</section>
<!-- <script>
    $(document).ready(function () {
      $("#termsScroller").height($(window).height() - 438);
    });
    
    $(window).resize(function () {
      $("#termsScroller").height($(window).height() - 438);
    });
  </script> -->
</body>